/** Add css rules here for your application. */
body, html {
  height: 100%;
}
body {
  background: #fff;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}

/* call list */
.callList {
  overflow: auto;
}
.callListDecorator .topLeft, .callListDecorator .middleLeft,
.callListDecorator .bottomLeft, .callListDecorator .bottomCenter,
.callListDecorator .bottomRight { display: none; }
/* call list header row */
.callListHeader {
  background-color: #2062B8;
  color: white;
  font-weight: bold;
}
/* Call prompt */
.callEntry {
  font-weight: bold;
}
.callListDecorator .middleCenter {
   height: 100%;
   width: 100%;
   overflow: auto;
   vertical-align: top;
}
